<% block('styles').append(`<style>
    .card-login {
        border: 2px solid black !important;
        border-radius: 5px !important;
    }
</style>`) %>
<% block('styles').append(`<link href="../../../public/css/chat.css" rel="stylesheet" type="text/css">`) %>
<% layout('./layouts/main', {name: 'Dashboard'}) %>
<%- include('./modal.ejs') -%>
    <!-- List User -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Trang Chủ</h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">

            </div>
        </div>
    </div>
<% block('scripts').append(`<script src="../../../public/js/home.js"></script>`) %>